/Proyecto final [[]NetBeans]/Tienda_Online/nbproject/private/
/Proyecto final [[]NetBeans]/Tienda_Online/build/
/Tienda_online/Tienda_Online/nbproject/private/
/Tienda_online/Tienda_Online/build/
/Tienda_online/Tienda_Online/dist/